<%= form_for([@property, @comment || @property.comments.build], remote: true) do |f| %>
<div>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
    <div>
      <%= f.text_field :content, class: 'form-control commentbox', autofocus: true, :id => 'commentbox' %>
    </div>

    <div style="padding-top:20px; padding-bottom:20px;">
      <%= button_to ( f.object.new_record? ? "Create Comment" : "Update Comment"), property_comments_path(property_id: @property), remote: true,
       class: 'btn btn-primary'  %>
    </div>
<% end %>