<%= simple_form_for([@property, @comment || @property.comments.build], remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content, placeholder: 'Ecrivez ici ce que vous pensez de cette propriété', autofocus: true %>
    <%# <%= f.text_field :content, autofocus: true %>

  </div>

  <div class="form-actions", style="padding-top:20px; padding-bottom:20px;">
      <%= button_to ( f.object.new_record? ? t("button.create_comment") : t("button.update_comment") ), property_comments_path(property_id: @property), remote: true,
       class: 'btn btn-primary'  %>
    </div>
<% end %>
