
<div class="d-flex flex-row justify-content-center align-items-center container">
    <div class="">
        <h1 >My account details</h1> <br>
        <p><strong>Username: </strong><%= @user.username%></p>
        <p><strong>Lastname: </strong><%= @user.lastname%></p>
        <p><strong>Firstname: </strong><%= @user.firstname%></p>
        <p><strong>Profession: </strong><%= @user.profession%></p>
        <p><strong>Contact: </strong><%= @user.contact%></p>
        <p><strong>Address: </strong><%= @user.address%></p>
        <p><strong>Email: </strong><%= @user.email%></p>
    </div>
</div>