<br> <br>
<div class="d-flex flex-column justify-content-center align-itmes-center card text-center" style=""> <br>
  <h1><%= t("properties.details") %></h1>
  <div class=" container card-body">
    <div class="card-img-top">
      <%= (0...@property.images.count).each do |image| %>
      <%= image_tag(@property.images[image], style: "max-width: 1000px; max-height: 1000px") %>
    <% end %>
    </div>  <br>

    <div>
      <p><strong><%= t("properties.name") %> : </strong><%= @property.name %></p>
      <p><strong><%= t("properties.type_of_property") %> : </strong><%= @property.type_of_property %></p>
      <p><strong>Description:  </strong><%= @property.description %></p>
      <p><strong><%= t("properties.address") %> : </strong><%= @property.address %></p>
      <p><strong><%= t("properties.price") %>  : </strong><%= @property.price %> FCFA</p>
      <p><strong><%= t("properties.status") %>  : </strong><%= @property.status %></p>
    </div>

  </div><br>
    <blockquote class=" container blockquote">
      <footer class="blockquote-footer">
        <%= t("properties.posted_by") %> : <cite title="Source Title"><%= @property.user.username if @property.user %></cite>
        -- <small class="text-muted"><%= @property.created_at.to_time.strftime("%d %b %Y à %H:%M") %></small>
      </footer> 
    </blockquote>
  </div>

  <div class=" container d-flex flex-row justify-content-center align-itmes-center form-actions mb-4"> 
  
    <% if current_user.is_admin && @property.user == current_user %>
        <a class="btn btn-warning w-25 m-4" href = "<%= edit_property_path(@property)%>"><%= t("button.edit") %></a> 
    <% end %>
      <a href = "<%= properties_path %>" class="btn btn-primary w-25 m-4"><%= t("button.back") %></a>
  </div>

      <hr />
  <div class=" container feed-activity-list">
   <p><%= t("comments.list") %></p>
    <div id="" class="">
    <p id="notice"><%= notice %></p>
    <!-- Render to display the comment input field on the detail page of the property -->
      <%= render partial: 'comments/form', locals: { comment: @comment, property: @property } %>
    </div>

    <!-- Get the HTML id of this comments_area and update only that part of the div-->
    <div id="comments_area" class="">
      <!-- Render to display a list of posted comments on the property details page -->
      <%= render partial: 'comments/index', locals: { comments: @comments, property: @property, user: @user } %>
  </div>
</div><br> <br><br>