
<p>
  <strong>Illustration:</strong>
  <%= @property.illustration %>
</p>
<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Type of property:</strong>
  <%= @property.type_of_property %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %> FCFA
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user.username %>
</p>


      <hr />
  <p>List of comments </p>
  <!-- Get the HTML id of this comments_area and update only that part of the div-->
  <div id="comments_area">
    <!-- Render to display a list of posted comments on the property details page -->
    <%= render partial: 'comments/index', locals: { comments: @comments, property: @property, user: @user } %>
  </div>
  <!-- Render to display the comment input field on the detail page of the property -->
  <%= render partial: 'comments/form', locals: { comment: @comment, property: @property } %>

  <% if @property.user == current_user %>
    <a class="btn btn-danger w-25 m-4" href = "<%= edit_property_path(@property)%>">Edit</a> 
  <% end %>|
<%= link_to 'Back', properties_path %>

</div> <br> <br><br>