<%= form_for @contact, url: 'home#contact', remote: true do |f| %>
    <div class="col-md-6">
        <%= f.label :name %>
        <%= f.text_field  :name,
                          autofocus: true,
                          placeholder: 'Votre nom',
                          required: true, class: "contact-form-text-area mb-2" %></br>

        <%= f.label :email %>
        <%= f.text_field :email, 
                          placeholder: 'Votre mail',
                          required: true, class: "contact-form-text-area mb-2" %></br>

      <%= f.label :message %>
      <%= f.text_area :message, rows: 5, cols: 24, required: true, class: "contact-form-text-area",
                        placeholder: "Votre message"%>

      <div class= "hidden d-none">
        <%= f.label :nickname %>
      </div>

      <%= f.submit t("contact.send"), class: 'btn btn-primary mb-2 mt-2' %>
    </div>
  <% end %>
  <div class="col-md-6" id="flash-message">
    <%= render 'flash' %>
  </div>