<br>
<div class="w-25 d-flex flex-column container justify-content-center align-itmes-center mt-5 mb-4" style = "padding-top: 1rem; border: 1px solid;">
  <h2><%= t(".sign_in") %></h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :login,
                required: true,
                placeholder: "Mail ou nom d'utilisateur",
                autofocus: true,
                input_html: { autocomplete: "login" } %> <br>
      <%= f.input :password,
                  placeholder: 'Votre mot de passe',
                  required: true,
                  input_html: { autocomplete: "current-password" } %> <br>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".sign_in"), class:"btn btn-success mt-2" %>
    </div>
  <% end %> <br>
  <%= render "devise/shared/links" %>
</div>  <br>