<br>  <br>
<div class="w-25 mt-5 mb-4 d-flex flex-column container justify-content-center align-itmes-center" style = "padding-top: 1rem; border: 1px solid;">
    <h1><%= t("appointments.details") %></h1> <hr />
    <p><strong>Description:  </strong><%= @appointment.description %></p>

    <p><strong><%= t("properties.status") %>  : </strong><%= @appointment.status if @appointment.status %></p>

    <p><strong>Date:  </strong><%= @appointment.date.strftime("%d %b %Y à %H:%M") if @appointment.date %></p>

    <p><strong><%= t("appointments.requested_by") %> :   </strong><%= @appointment.user.username %></p>
    <a href = "<%= edit_appointment_path(@appointment) %>" class="btn btn-warning mb-2"><%= t("button.edit") %></a>
    <% if current_user.is_admin %>
        <a href = "<%= appointments_path %>" class="btn btn-success mb-2"><%= t("button.back") %></a>
     <% else %>
        <a href="<%= me_appointments_path %>" class="btn btn-success mb-2" role="button"><%= t("button.back") %></a>
     <% end %>

</div> <br>

