<div class="w-50 d-flex flex-column container justify-content-center align-itmes-center mt-3" style = "padding-top: 1rem; border: 1px solid;">

<p><strong>Description:  </strong><%= @appointment.description %></p>

<p><strong>Statut:  </strong><%= @appointment.status %></p>

<p><strong>Date:  </strong><%= @appointment.date %></p>

<p><strong>Utilisateur:  </strong><%= @appointment.user.username %></p>

<%= link_to 'Modifier', edit_appointment_path(@appointment), class:"btn btn-warning mb-2" %>
<%= link_to 'Retour', appointments_path, class:"btn btn-success mb-2" %>
</div>
